<div class="topnav" id="myTopnav">
  <div>
    <span>  <a [routerLink]="[ 'Register']">Register</a></span>&nbsp;
    <span><a [routerLink]="[ 'Twoway']">Twoway</a></span>&nbsp;
    <span><a [routerLink]="[ 'Form']">Form</a></span>&nbsp;
    <span><a [routerLink]="[ 'Sendata']">Sendata</a></span>&nbsp;
    <span><a [routerLink]="[ 'receivedata']">ReceiveData</a></span>&nbsp;
    <span><a [routerLink]="[ 'checkboxform']">CheckboxForm</a></span>&nbsp;
    <span><a [routerLink]="[ 'localstorage']">LocalStorage</a></span>&nbsp;
    <span><a [routerLink]="[ 'fetchvideo']">Video Thumb</a></span>&nbsp;
    <span><a [routerLink]="[ 'productupload']">Product Upload</a></span>
    <span><a [routerLink]="[ 'componetinteract']">ComponentInteraction</a></span>
    <span><a [routerLink]="[ '/productpage']">Product Show</a></span>
    <span><a [routerLink]="[ '/chart']">Chart</a></span>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
